<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You have a new data alert, <%= @user.name %></h1>
    <p>
       <%= @sensor.name %> has recieved a record with the value of <%= @record.y %>
    </p>
    <p>Thanks for using LifeSense and have a great day!</p>
  </body>
</html>
